{{#each groupArrays}} 
    <div class="div-stats-wrapper mb-3 p-3">
        <span id="span-stats-date" class="card">{{date}}</span>
        <span id="span-stats-posts" class="card">{{posts}}</span>
    </div>
{{/each}}