<div class="w-100 jumbotron pb-5 text-center">
    <h1 class="display-3 mb-3"><h1 id="logo">Bl<span id="logo-i-letter">o</span>g</h1></h1>
    <p class="lead mb-4">Add your new post, mate</p>
    <a href="/posts/add" class="btn btn-dark btn-lg mb-0">Add Post</a>
</div>