<div class="card card-body mx-auto my-5 notes-width">
        <h4 class="text-center ">{{{post.title}}}</h4>
        <div class="card card-body mb-3 p-3">
            <p class="paragraph-indent p-0 m-0">{{{post.content}}}</p>
        </div> 
        <a href='/posts/edit/{{{post._id}}}' class="btn btn-dark btn-block background-opacity">Edit</a>
        <form action="/posts/{{{post._id}}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-submit btn-danger btn-block mt-2">
                Delete
            </button>    
        </form>
</div>